<!DOCTYPE html>
<html>
<head>
	<title>SECOMPP</title>
</head>
<body>

	<p>Publicado: HOJE</p>
	<h2>Meu primeiro blog Django</h2>
	<p>
		Esse post foi patrocinado pela comunidade Python, por criar o framework Django.
		Esse post foi patrocinado pela comunidade Python, por criar o framework Django.
		Esse post foi patrocinado pela comunidade Python, por criar o framework Django.
		Esse post foi patrocinado pela comunidade Python, por criar o framework Django.
		Esse post foi patrocinado pela comunidade Python, por criar o framework Django.
		Esse post foi patrocinado pela comunidade Python, por criar o framework Django.
		Esse post foi patrocinado pela comunidade Python, por criar o framework Django.
		Esse post foi patrocinado pela comunidade Python, por criar o framework Django.
		Esse post foi patrocinado pela comunidade Python, por criar o framework Django.
	</p>

</body>
</html>